.editButton{
  background-color: #004643;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  padding: 8px 32px;
  width: 120px;
}
.asideDetails{
  width: 400px;
  /* background-color: green; */
  align-items:flex-end;
  justify-content: space-between;
}
.detailsCardp{
  padding: 7px;

}

.detailsCardButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-bottom: 10px;
}