.header{
  background-color: #2d3f46;
  border-bottom: 1px solid #e1e4e8;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
  width: 100%;

}

.input-header{
  height: 70px;
  min-width: 900px;
  background-color: #222d35;
  padding: 0px 100px 0px 15px;
  font-size: 20px;
  color: grey;
  outline: none;
}